page-start-wizard {
  ion-card {
    position: relative;
    text-align: center;
  }

  ion-wizard-step {
    width: 100%;
  }

  .card-wizard-icon {
    font-size: 10em;
  }

  .list-ios > .item-block:first-child {
    border-top: 0;
  }

  .list-ios > .item-block:last-child {
    border-bottom: 0;
  }

  .input-field {
    padding-top: 1em;
  }

  .avatar-icon {
    font-size: 2em;
  }

  .input-cover {
    position: static;
  }
}
